<main class="main">
    <h1>My ToDo List</h1>
    <label for="addItem">What do you want today?</label>
    <input
        #description
        type="text"
        name="addItem"
        id="addItem"
        class="lg-text-input"
    />
    <button
        class="btn-primary"
        (click)="
            addTodo({
                description: description.value,
                done: false
            });
            description.value = ''
        "
    >
        Add
    </button>

    @for (todo of todos(); track $index) {
        @if (todo.id) {
            <app-items [todo]="todo" (deleteItem)="deleteTodo(todo.id)" />
        }
    }
</main>
